<html>
    <head>
        <title>diamondsou</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css" />
        <script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
        <script type="text/javascript" src="/js/uba.js"></script>
        <script type="text/javascript" src="/js/diamondsou.js"></script>
    </head>
    <body>
        <div id="pageheader">
          <h1>diamondsou</h1>
        </div>
        <div id="mainmenu">
          <ul>
            <a class="linkbutton" href="/new">new</a>
            <a class="linkbutton" href="/freeagents">freeagents</a>
            <a class="linkbutton" href="/rosters">rosters</a>
            <a class="linkbutton" href="/standings">standings</a>
          </ul>
        </div>
        <div id="pagecontent"></div>
        <div id="console"></div>
    </body>
</html>
